
  html {
  overflow-y: scroll;
  }

  body {
    padding-top: 43px;
  }

  .row {
    margin 1%;
  }

  @media(min-width: 1200px){
    body > .container {
      width: 1171px;
    }
  }

  @media (max-width: 979px) and (min-width: 768px) {
    body > .container {
      width: 725px;
    }
  }
